@import url('https://fonts.googleapis.com/css2?family=Faustina:wght@700&family=Tajawal&display=swap');
html,body{
  font-family: 'Tajawal', sans-serif;
}

.header {
  font-family: 'Faustina', serif;
  height: 5rem;
  display: flex;
  align-items: center;
  padding: 0 10%;
  margin-bottom: 5vh;
}

.logo {
  display: flex;
  width: 10%;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content:first baseline;
}

.header li {
  margin-left: 3rem;
}

.header a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #000;
}

.header a:hover,
.header a:active,
.header a.active {
  color: #cc2062;
}

.cats {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
   
.catPics {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 5px;   
}

.allProductsImages {
  height: 200px;
  width: 200px;
  object-fit: cover;
  object-position: center;
}
  
.info {
  text-align: center;
  font-family: 'Tajawal', sans-serif;
}

.btn {
    font: inherit;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    border-radius: 4px;
    background-color: #000;
    color: white;
    border: 1px solid #000;
    margin: 0 1rem;
}
  
.btn:hover {
    background-color: #9c1458;
    border-color: #9c1458;
  }
  
  .btn--alt {
    background-color: transparent;
    color: #800040;
  }
  
  .btn--alt:hover {
    background-color: #f8dae9;
  }
  